!data/.gitkeep

*.o
*.orig
*.swp
*.gch
*.out
.idea/
data.bak
data/
*.a
*.cpp.ii
sc_gpu
particlefilter_float
particlefilter_naive
myocyte
mummergpu
lud_cuda
leukocyte
lavaMD
kmeans
3D
hybridsort
pavle
heartwall
gaussian
dwt2d
backprop
/altis/
/cuda/lud/cuda/abc
/cuda/lud/cuda/abcdef
/cuda/lud/cuda/libenccuda.so
